<section id="products_page" class="mt-4 product_slide_cont">
    <div class="container" *ngIf="_productsReady; else loading">
        <div class="row">
            <div class="col-12">
                <div class="top-direction">
                    <div class="dicrection-path">
                        <a routerLink="/home"><span class="lnr lnr-home"></span> {{'header.navBar.button1' | translate}}</a>
                        <a routerLink="/shop"> {{'header.navBar.button2.main' | translate}}</a>
                        <span>{{_ProductMore.prodName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="prodLeft">
                    <div class="swiper-container prod-slider-large">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide imgBox " *ngFor="let imgItem of _ProductMore.prodImgs" #imgBoxZoom>
                                <img  alt="framShop" class="img-fluid" [attr.data-origin]="imgItem" src="{{imgItem}}">
                            </div>
                            <div class="swiper-slide imgBox " *ngIf="_ProductMore.prodImgs.length == 0">
                                <img  alt="framShop" class="img-fluid" src="./assets/img/products/product-no-image.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container prod-slider-thumb" *ngIf="_ProductMore.prodImgs.length > 0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide med_prod_slider_borard" *ngFor="let imgItem2 of _ProductMore.prodImgs; let i = index">
                                <img alt="framShop" [attr.data-slide-to]="i" class="swipe-slide-to img-fluid" src="{{imgItem2}}">
                            </div>
                        </div>
                        <div class="swiper-button-next thumb-arrow-right"><i class="lnr lnr-chevron-right "></i></div>
                        <div class="swiper-button-prev thumb-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 col-md-6">
                <div class="right_prod">
                    <h3 class="mb-3 product_name">{{_ProductMore.prodName}}</h3>
                    <p class="text-muted">{{'productSingle.categ' | translate}} <span class="text-dark">{{_ProductMore.prodType}}</span></p>   
                    <h5  class="mt-2 mb-1">{{'productSingle.rating' | translate}}</h5>
                    <div class="ratingStars" #starsParent>
                        {{'stars' | productStars:_ProductMore.raiting:starsParent}}
                        <span class="lnr lnr-star"></span>
                        <span class="lnr lnr-star"></span>
                        <span class="lnr lnr-star"></span>
                        <span class="lnr lnr-star"></span>
                        <span class="lnr lnr-star"></span>
                    </div>
                    <div class="userWrap">
                        <div class="usedTwoItems">
                            <p>
                                <span [class.selectedUsed]="_ProductMore.prodUsed === 'used'"></span>
                                Used    
                            </p>   
                            <p>
                                <span [class.selectedUsed]="_ProductMore.prodUsed === 'notused'"></span>
                                Not used
                            </p>
                        </div>
                    </div>
                    <div class="discountWrap">
                        <h5 class="mt-2 mb-1">{{'productSingle.price' | translate}}</h5>
                        <p class="mb-0" *ngIf="_ProductMore.prodSale != null && _ProductMore.prodSale != 0"><font class="text-muted">{{'productSingle.discount' | translate}}</font> -{{_ProductMore.prodSale}}%</p>
                        <p class="common_ammount_prod">
                            <ng-container *ngIf="_ProductMore.prodSale != null && _ProductMore.prodSale != 0; else productPriceOnly">
                                <del *ngIf="_ProductMore.prodSale != null && _ProductMore.prodSale != 0">{{_ProductMore.prodPrice + '$'}}</del> 
                                <font >{{_ProductMore.prodPrice - (_ProductMore.prodPrice * _ProductMore.prodSale)/100 | productPrice}}</font>
                            </ng-container>  
                            <ng-template #productPriceOnly>
                                <font >{{_ProductMore.prodPrice + "$"}}</font>
                            </ng-template>
                        </p>   
                    </div>
                    <hr>
                    <div class="colors_wrap" *ngIf="_ProductMore.prodColors && _ProductMore.prodColors.length > 0">
                        <p class="mb-0"><font class="text-muted">{{'productSingle.color' | translate}}</font></p>
                        <div class="each_colors">
                            <span  *ngFor="let color of _ProductMore.prodColors" [ngStyle]="{'background-color':color}"></span>
                        </div>
                    </div>
                    <div class="add_cart_wrap mt-2">
                        <p class="mb-0"><font class="text-muted">{{'productSingle.quantity' | translate}}</font></p>
                        <div class="add-to-cart-wrap mt-3 d-flex justify-content-between">
                            <div class="count-product-input">
                                <input class="productCount" #addprod type="number" value="1">
                                <p class="up-down-arrows d-flex flex-column">
                                    <span class="lnr lnr-chevron-up" (click)="upCount($event)"></span>
                                    <span class="lnr lnr-chevron-down" (click)="downCount($event)"></span>
                                </p>
                            </div>
                            <button class="add-to-cart" (click)="__addProductToCart(addprod, [
                            _ProductMore.idProduct,
                            _ProductMore.prodImgs[0],
                            _ProductMore.prodName,
                            (_ProductMore.prodPrice - (_ProductMore.prodPrice * _ProductMore.prodSale)/100),
                            _idProduct.split('&')[1]
                            ])">
                                <span class="lnr lnr-cart"></span>
                                {{'relatedSec.addButton' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-6 col-md-12">
                <div class="services_prod">
                    <div class="d-flex align-items-center">
                        <img src="./assets/img/services1.png" alt="">
                        <div class="descServices">
                            <b class="d-block">{{ 'servicePart.part1Tit' | translate }}</b>
                            <p class="text-muted mb-0">{{ 'servicePart.part1SubTit' | translate }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="./assets/img/services2.png" alt="">
                        <div class="descServices">
                            <b class="d-block">{{ 'servicePart.part2Tit' | translate }}</b>
                            <p class="text-muted mb-0">{{ 'servicePart.part2SubTit' | translate }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="./assets/img/services3.png" alt="">
                        <div class="descServices">
                            <b class="d-block">{{ 'servicePart.part3Tit' | translate }}</b>
                            <p class="text-muted mb-0">{{ 'servicePart.part3SubTit' | translate }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="./assets/img/services4.png" alt="">
                        <div class="descServices">
                            <b class="d-block">{{ 'servicePart.part4Tit' | translate }}</b>
                            <p class="text-muted mb-0">{{ 'servicePart.part4SubTit' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="description_product" *ngIf="_ProductMore.prodDesc">
                    <div class="header_desc">
                        <h3>{{ 'productSingle.description' | translate }}</h3>
                    </div>
                    <div class="desc_txt">
                        <p>{{_ProductMore.prodDesc}}</p>
                    </div>
                </div>
            </div>
            <!--<div class="col-12">
                <div class="swiper-container swiper_related_prod">
                    <div class="swiperArrows">
                        <h4>{{'relatedSec.title' | translate}}</h4>
                        <div class="scn-icons-cont">
                            <span class="custom-slide-button customR-prev"><i class="lnr lnr-chevron-left"></i></span>
                            <span class="custom-slide-button customR-next"><i class="lnr lnr-chevron-right"></i></span>
                        </div>
                    </div>
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide p-1">
                            <div class="products-fram">
                                <span class="sale-badge">-20%</span>
                                <a (click)="refresh();" routerLink="/products/1" class="d-block text-center" href="javascript:void(0)">
                                    <img src="./assets/img/products/prod1.png" class="img-fluid" alt="">
                                    <div class="name-and-section">
                                        <p>Jewellery</p>
                                        <p>Products 1</p>
                                    </div>
                                </a>
                                <hr>
                                <div class="price-and-rating d-flex justify-content-between">
                                    <div class="product-price d-flex flex-column align-items-start">
                                        <del class="text-muted">1300$</del>
                                        <span>1000$</span>
                                    </div>
                                    <div class="product-ratings">
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star"></span>
                                        <span class="lnr lnr-star"></span>
                                    </div>
                                </div>
                                <div class="add-to-cart-wrap mt-3 d-flex justify-content-between">
                                    <div class="count-product-input">
                                        <input class="productCount" type="number" value="1">
                                        <p class="up-down-arrows d-flex flex-column">
                                            <span class="lnr lnr-chevron-up" (click)="upCount($event)"></span>
                                            <span class="lnr lnr-chevron-down" (click)="downCount($event)"></span>
                                        </p>
                                    </div>
                                    <button class="add-to-cart">
                                        <span class="lnr lnr-cart"></span>
                                        {{'relatedSec.addButton' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-1">
                            <div class="products-fram">
                                <a (click)="refresh();" routerLink="/products/2" class="d-block text-center" href="javascript:void(0)">
                                    <img src="./assets/img/products/prod2.png" class="img-fluid" alt="">
                                    <div class="name-and-section">
                                        <p> Clothes</p>
                                        <p>Products 2</p>
                                    </div>
                                </a>
                                <hr>
                                <div class="price-and-rating d-flex justify-content-between">
                                    <div class="product-price d-flex flex-column align-items-start">
                                        <del class="text-muted">1300$</del>
                                        <span>1000$</span>
                                    </div>
                                    <div class="product-ratings">
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star"></span>
                                        <span class="lnr lnr-star"></span>
                                        <span class="lnr lnr-star"></span>
                                    </div>
                                </div>
                                <div class="add-to-cart-wrap mt-3 d-flex justify-content-between">
                                    <div class="count-product-input">
                                        <input class="productCount" type="number" value="1">
                                        <p class="up-down-arrows d-flex flex-column">
                                            <span class="lnr lnr-chevron-up" (click)="upCount($event)"></span>
                                            <span class="lnr lnr-chevron-down" (click)="downCount($event)"></span>
                                        </p>
                                    </div>
                                    <button class="add-to-cart">
                                        <span class="lnr lnr-cart"></span>
                                        {{'relatedSec.addButton' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-1">
                            <div class="products-fram">
                                <a (click)="refresh();" routerLink="/products/3" class="d-block text-center" href="javascript:void(0)">
                                    <img src="./assets/img/products/prod3.png" class="img-fluid" alt="">
                                    <div class="name-and-section">
                                        <p>For Home</p>
                                        <p>Products 3</p>
                                    </div>
                                </a>
                                <hr>
                                <div class="price-and-rating d-flex justify-content-between">
                                    <div class="product-price d-flex flex-column align-items-start">
                                        <del class="text-muted">1300$</del>
                                        <span>1000$</span>
                                    </div>
                                    <div class="product-ratings">
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star"></span>
                                    </div>
                                </div>
                                <div class="add-to-cart-wrap mt-3 d-flex justify-content-between">
                                    <div class="count-product-input">
                                        <input class="productCount" type="number" value="1">
                                        <p class="up-down-arrows d-flex flex-column">
                                            <span class="lnr lnr-chevron-up" (click)="upCount($event)"></span>
                                            <span class="lnr lnr-chevron-down" (click)="downCount($event)"></span>
                                        </p>
                                    </div>
                                    <button class="add-to-cart">
                                        <span class="lnr lnr-cart"></span>
                                        {{'relatedSec.addButton' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-1">
                            <div class="products-fram">
                                <a (click)="refresh();" routerLink="/products/4" class="d-block text-center" href="javascript:void(0)">
                                    <img src="./assets/img/products/prod4.png" class="img-fluid" alt="">
                                    <div class="name-and-section">
                                        <p>Dresses</p>
                                        <p>Products 4</p>
                                    </div>
                                </a>
                                <hr>
                                <div class="price-and-rating d-flex justify-content-between">
                                    <div class="product-price d-flex flex-column align-items-start">
                                        <del class="text-muted">1300$</del>
                                        <span>1000$</span>
                                    </div>
                                    <div class="product-ratings">
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star"></span>
                                        <span class="lnr lnr-star"></span>
                                    </div>
                                </div>
                                <div class="add-to-cart-wrap mt-3 d-flex justify-content-between">
                                    <div class="count-product-input">
                                        <input class="productCount" type="number" value="1">
                                        <p class="up-down-arrows d-flex flex-column">
                                            <span class="lnr lnr-chevron-up" (click)="upCount($event)"></span>
                                            <span class="lnr lnr-chevron-down" (click)="downCount($event)"></span>
                                        </p>
                                    </div>
                                    <button class="add-to-cart">
                                        <span class="lnr lnr-cart"></span>
                                        {{'relatedSec.addButton' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-1">
                            <div class="products-fram">
                                <a (click)="refresh();" routerLink="/products/5" class="d-block text-center" href="javascript:void(0)">
                                    <img src="./assets/img/products/prod5.png" class="img-fluid" alt="">
                                    <div class="name-and-section">
                                        <p>Motors</p>
                                        <p>Products 5</p>
                                    </div>
                                </a>
                                <hr>
                                <div class="price-and-rating d-flex justify-content-between">
                                    <div class="product-price d-flex flex-column align-items-start">
                                        <del class="text-muted">1300$</del>
                                        <span>1000$</span>
                                    </div>
                                    <div class="product-ratings">
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                    </div>
                                </div>
                                <div class="add-to-cart-wrap mt-3 d-flex justify-content-between">
                                    <div class="count-product-input">
                                        <input class="productCount" type="number" value="1">
                                        <p class="up-down-arrows d-flex flex-column">
                                            <span class="lnr lnr-chevron-up" (click)="upCount($event)"></span>
                                            <span class="lnr lnr-chevron-down" (click)="downCount($event)"></span>
                                        </p>
                                    </div>
                                    <button class="add-to-cart">
                                        <span class="lnr lnr-cart"></span>
                                        {{'relatedSec.addButton' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide p-1">
                            <div class="products-fram">
                                <a (click)="refresh();" routerLink="/products/6" class="d-block text-center" href="javascript:void(0)">
                                    <img src="./assets/img/products/prod6.png" class="img-fluid" alt="">
                                    <div class="name-and-section">
                                        <p>Electronics</p>
                                        <p>Products 6</p>
                                    </div>
                                </a>
                                <hr>
                                <div class="price-and-rating d-flex justify-content-between">
                                    <div class="product-price d-flex flex-column align-items-start">
                                        <del class="text-muted">1300$</del>
                                        <span>1000$</span>
                                    </div>
                                    <div class="product-ratings">
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star appreciated"></span>
                                        <span class="lnr lnr-star"></span>
                                        <span class="lnr lnr-star"></span>
                                    </div>
                                </div>
                                <div class="add-to-cart-wrap mt-3 d-flex justify-content-between">
                                    <div class="count-product-input">
                                        <input class="productCount" type="number" value="1">
                                        <p class="up-down-arrows d-flex flex-column">
                                            <span class="lnr lnr-chevron-up"></span>
                                            <span class="lnr lnr-chevron-down" (click)="downCount($event)"></span>
                                        </p>
                                    </div>
                                    <button class="add-to-cart">
                                        <span class="lnr lnr-cart"></span>
                                        {{'relatedSec.addButton' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <ng-template #loading>
        <img src="./assets/img/loading.gif" class="img-fluid d-block mx-auto" alt="">
    </ng-template>
</section>