<div class="container pt-4">
    <div class="col-12">
        <h3 class="partnersTitle text-center">{{ 'partnersHome.title' | translate }}</h3>
    </div>
    <div class="col-12">
        <div class="swiper-container swiper_partners_home">
            <div class="swiper-wrapper">
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner1.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner2.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner3.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner4.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner5.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner6.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner7.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner8.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner9.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner10.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner11.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner12.png" alt="" class="img-fluid">
                </div>
                <div class="swiper-slide p-1">
                    <img src="./assets/img/partners/partner13.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="swiper-button-next pr_butt_slider"><span class="lnr lnr-chevron-right"></span></div>
            <div class="swiper-button-prev pr_butt_slider"><span class="lnr lnr-chevron-left"></span></div>
        </div>
    </div>
</div>