<section id="servicesPart">
    <div class="container">
        <div class="bgServices">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3  d-flex align-items-center">
                    <img src="./assets/img/services1.png" alt="">
                    <div class="descServices">
                        <b class="d-block">{{ 'servicePart.part1Tit' | translate }}</b>
                        <p class="text-muted mb-0">{{ 'servicePart.part1SubTit' | translate }}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3  d-flex align-items-center">
                    <img src="./assets/img/services2.png" alt="">
                    <div class="descServices">
                        <b class="d-block">{{ 'servicePart.part2Tit' | translate }}</b>
                        <p class="text-muted mb-0">{{ 'servicePart.part2SubTit' | translate }}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3  d-flex align-items-center">
                    <img src="./assets/img/services3.png" alt="">
                    <div class="descServices">
                        <b class="d-block">{{ 'servicePart.part3Tit' | translate }}</b>
                        <p class="text-muted mb-0">{{ 'servicePart.part3SubTit' | translate }}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3  d-flex align-items-center">
                    <img src="./assets/img/services4.png" alt="">
                    <div class="descServices">
                        <b class="d-block">{{ 'servicePart.part4Tit' | translate }}</b>
                        <p class="text-muted mb-0">{{ 'servicePart.part4SubTit' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>