@import '../../../../globalSCSS/extends';
@import '../../../../globalSCSS/globalSCSS';
@import '../../../../globalSCSS/mixins';



.right_bar_shop_top_22{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:7px 10px;
    background-color: #fff;
    box-shadow:0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    .sort_by_button, .show_count_button {
        font-size: 15px;
        padding: 6px;
        cursor: pointer;
        &:hover{
            background-color: $highWayBG;

        }
        i{
            font-size: 12px;
            font-weight: 600;
            margin-left: 2px;
        }
    }
    .filter_dropdown{
        position: relative;
        .dropdownUl{
            z-index: 223;
            @include showList(0px, auto, 170px);
        }
        .showSortList{
            opacity: 1;
            visibility: visible;
            transform: scale(1)
        }
    }
    .show_count{
        position: relative;
        .dropdownUlCount{
            z-index: 222;
            @include showList(auto, 0px, 80px);
        }
         .showCountList{
            opacity: 1;
            visibility: visible;
            transform: scale(1)
        }
    }
    
}
