
<section id="fram-slider">
    <div class="container mt-4">   
        <div class="swiper-container home_slide">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img alt="fram-slider" src="./assets/img/slider1.jpg">
                    <div class="slideTxt">
                        <h1>{{ 'slider.slider1Tit' | translate}}</h1>
                        <h3>{{ 'slider.slider1SubTit' | translate}}</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img alt="fram-slider" src="./assets/img/slider2.jpg">
                    <div class="slideTxt">
                        <h1>{{ 'slider.slider2Tit' | translate}}</h1>
                        <h3>{{ 'slider.slider2SubTit' | translate}}</h3>
                    </div>
                    
                </div>
                <div class="swiper-slide">
                    <img alt="fram-slider" src="./assets/img/slider3.jpg">
                    <div class="slideTxt">
                        <h1>{{ 'slider.slider3Tit' | translate}}</h1>
                        <h3>{{ 'slider.slider3SubTit' | translate}}</h3>
                    </div>
                    
                </div>
                <div class="swiper-slide">
                    <img alt="fram-slider" src="./assets/img/slider4.jpg">
                    <div class="slideTxt">
                        <h1>{{ 'slider.slider4Tit' | translate}}</h1>
                        <h3>{{ 'slider.slider4SubTit' | translate}}</h3>
                    </div>
                    
                </div>
                <div class="swiper-slide">
                    <img alt="fram-slider" src="./assets/img/slider5.jpg">
                    <div class="slideTxt">
                        <h1>{{ 'slider.slider5Tit' | translate}}</h1>
                        <h3>{{ 'slider.slider5SubTit' | translate}}</h3>
                    </div>
                    
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>