@import '../../products/products.component.scss';
@import '../../../../globalSCSS/extends';
@import '../../../../globalSCSS/globalSCSS';

.pageination_shop{
    text-align: center;
    padding:7px 10px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow:0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    a{
        font-size:17px;
        margin: 0 4px;
        text-decoration: none; 
        color: $dark;
        display: inline-block;
        width: 20px;
        text-align:center;
    }
    .active_page{
        color: $green;
        font-size: 19px;
        border-bottom: 1px solid $green;
        font-weight: 600;
    }
    .disabled_page{
        color: $disabledButton
    }
}
.noDataAvailable{
    padding-top: 30px;
    p {
        text-align: center
    }
}
@media #{$col}{
    .padding_mobile_none{
        padding-left:  15px !important;
    }
}