<section id="shop_Categories">
    <div class="container">
        <div class="blocksM6">
            <div class="firstCol">
                <div class="first staticParent">
                    <div class="description-categories-shop">
                        <h3>{{ 'shopCategories.cat1Tit' | translate }}</h3>
                        <i>{{ 'shopCategories.cat1SubTit' | translate }}</i>
                        <a href="javascript:void(0)" routerLink="/shop" fragment="Electronics">{{ 'shopCategories.catButton' | translate }}</a>
                    </div>
                </div>
                <div class="firstPartBottom">
                    <div class="forth staticParent">
                        <div class="description-categories-shop">
                            <h3>{{ 'shopCategories.cat4Tit' | translate }}</h3>
                            <i>{{ 'shopCategories.cat4SubTit' | translate }}</i>
                            <a href="javascript:void(0)" routerLink="/shop" fragment="Dresses">{{ 'shopCategories.catButton' | translate }}</a>
                        </div>
                    </div>
                    <div class="five staticParent">
                        <div class="description-categories-shop">
                            <h3>{{ 'shopCategories.cat5Tit' | translate }}</h3>
                            <i>{{ 'shopCategories.cat5SubTit' | translate }}</i>
                            <a href="javascript:void(0)" routerLink="/shop" fragment="Shoes">{{ 'shopCategories.catButton' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondCol">
                <div class="secondPartTop">
                    <div class="second staticParent">
                        <div class="description-categories-shop">
                            <h3>{{ 'shopCategories.cat2Tit' | translate }}</h3>
                            <i>{{ 'shopCategories.cat2SubTit' | translate }}</i>
                            <a href="javascript:void(0)" routerLink="/shop" fragment="Motors">{{ 'shopCategories.catButton' | translate }}</a>
                        </div>
                    </div>
                    <div class="thrid staticParent">
                        <div class="description-categories-shop">
                            <h3>{{ 'shopCategories.cat3Tit' | translate }}</h3>
                            <i>{{ 'shopCategories.cat3SubTit' | translate }}</i>
                            <a href="javascript:void(0)" routerLink="/shop" fragment="For Home">{{ 'shopCategories.catButton' | translate }}</a>
                        </div>
                    </div>
                </div>
                <div class="six staticParent">
                    <div class="description-categories-shop">
                        <h3>{{ 'shopCategories.cat6Tit' | translate }}</h3>
                        <i>{{ 'shopCategories.cat6SubTit' | translate }}</i>
                        <a href="javascript:void(0)" routerLink="/shop" fragment="Jewellery">{{ 'shopCategories.catButton' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>