$green:#689F38;
$greenDark:#508c1c;
$greenRGBA:#689f388c;
$disabledButton:#9ba295;
$highWayBG:#F2F2F2;
$dark:#262626;
$grey:#616161;
$red: #F44336;
$yellow: #FBC02D;

$col: "(max-width: 576px)";
$sm-deviceMax: "(max-width: 767px)";
$sm-device: "(max-width: 767px) and (min-width:577px)";
$md-deviceMax: "(max-width: 991px)";
$md-device: "(max-width: 991px) and (min-width:768px)";
$lg-device: "(max-width: 1200px) and (min-width:992px)";
$xl-deviceMax: "(max-width: 1200px)";
$xl-device: "(min-width: 1201px)";