<div class="container resetPassWrap mt-4">
    <h3>{{'resetPass.title' | translate}}</h3>
    <p>{{'myAccount.accountSettings.chngPass' | translate}}</p>
    <form name="" action="" method="" id="resetPass" (submit)="resetPassSubmit(resetPass); resetPass.reset()" #resetPass="ngForm">
        <label for="">{{'resetPass.emailTit' | translate}}</label>
        <input class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="emailReset" [(ngModel)]="resetForm.emailReset" ngModel
            #emailref="ngModel" required name="emailReset">
        <div [hidden]="!emailref.errors?.pattern" *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class=" mt-2 alert alert-danger w-100">
            <div style="font-size:12px">
                {{'header.regForm.wrongEmailMsg' | translate}}
            </div>
        </div>
        <button type="submit" [disabled]='!resetPass.valid' class="resetButton">Save</button>   
    </form>
</div>
<div class="toastReset" [(ngStyle)]="toastShow">
    {{'resetPass.checkEmail' | translate}}
</div>